<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Orders</h1>

<table>
    <tr th:each="order : ${orders}">
        <td>Id:</td>
        <td th:text="${order.key}">Onions</td>
        <td>Positions:</td>
        <td>
            <a th:href="@{/orders/{orderId}(orderId=${order.key})}">Edit</a>
            <table>
                <tr th:each="orderPosition : ${order.value.orderPositionList}">
                    <td>Item:</td>
                    <td th:text="${orderPosition.item.name}"></td>
                    <td>Quantity:</td>
                    <td th:text="${orderPosition.quantity}">1</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<form action="#" th:action="@{/orders}" th:object="${orders}" method="post">
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>